## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Torbay,CA,47.67,-52.73,33.01,68,75,8.05,broken clouds
1,1,Esperance,AU,-33.87,121.90,57.20,82,98,10.29,overcast clouds
2,2,Marigot,MF,18.07,-63.08,80.60,78,75,11.41,broken clouds
3,3,Barrow,US,71.29,-156.79,21.20,85,90,14.99,overcast clouds
4,4,Busselton,AU,-33.65,115.33,61.00,51,0,15.90,clear sky

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp).dropna() & \
                                       (city_data_df["Max Temp"] >= min_temp).dropna()]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
2,2,Marigot,MF,18.07,-63.08,80.60,78,75,11.41,broken clouds
5,5,Byron Bay,AU,-28.65,153.62,75.00,52,40,18.34,scattered clouds
7,7,Vaini,TO,-21.20,-175.20,80.60,69,20,13.87,few clouds
12,12,San Patricio,US,28.02,-97.52,78.80,54,20,13.87,few clouds
21,21,Adrar,MR,20.50,-10.07,84.51,16,70,8.79,broken clouds
23,23,Hervey Bay,AU,-25.30,152.85,82.99,32,0,13.87,clear sky
24,24,Kapaa,US,22.08,-159.32,82.40,78,20,12.75,few clouds
25,25,Cabanas,CU,22.98,-82.92,78.80,78,75,8.05,broken clouds
27,27,Butaritari,KI,3.07,172.79,82.31,75,63,8.59,broken clouds
34,34,Taoudenni,ML,22.68,-3.98,77.92,18,38,5.93,scattered clouds

In [7]:
# 4a. Determine if there are any empty rows.
#Look at Module 4.5.1
preferred_cities_df.isnull().sum

<bound method DataFrame.sum of      City_ID   City  Country    Lat    Lng  Max Temp  Humidity  Cloudiness  \
2      False  False    False  False  False     False     False       False
5      False  False    False  False  False     False     False       False
7      False  False    False  False  False     False     False       False
12     False  False    False  False  False     False     False       False
21     False  False    False  False  False     False     False       False
..       ...    ...      ...    ...    ...       ...       ...         ...
664    False  False    False  False  False     False     False       False
674    False  False    False  False  False     False     False       False
675    False  False    False  False  False     False     False       False
677    False  False    False  False  False     False     False       False
678    False  False    False  False  False     False     False       False

     Wind Speed  Current Description
2         False                False
5         False                False
7         False                False
12        False                False
21        False                False
..          ...                  ...
664       False                False
674       False                False
675       False                False
677       False                False
678       False                False

[208 rows x 10 columns]>

In [8]:
# 4a. Determine if there are any empty rows.
#Look at Module 4.5.1
city_data_df.isnull().sum

<bound method DataFrame.sum of      City_ID   City  Country    Lat    Lng  Max Temp  Humidity  Cloudiness  \
0      False  False    False  False  False     False     False       False
1      False  False    False  False  False     False     False       False
2      False  False    False  False  False     False     False       False
3      False  False    False  False  False     False     False       False
4      False  False    False  False  False     False     False       False
..       ...    ...      ...    ...    ...       ...       ...         ...
675    False  False    False  False  False     False     False       False
676    False  False    False  False  False     False     False       False
677    False  False    False  False  False     False     False       False
678    False  False    False  False  False     False     False       False
679    False  False    False  False  False     False     False       False

     Wind Speed  Current Description
0         False                False
1         False                False
2         False                False
3         False                False
4         False                False
..          ...                  ...
675       False                False
676       False                False
677       False                False
678       False                False
679       False                False

[680 rows x 10 columns]>

In [44]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
hotel_df = preferred_cities_df.dropna()

In [54]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
clean_hotel_df = hotel_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
clean_hotel_df["Hotel Name"] = ""
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Marigot,MF,80.60,broken clouds,18.07,-63.08,
5,Byron Bay,AU,75.00,scattered clouds,-28.65,153.62,
7,Vaini,TO,80.60,few clouds,-21.20,-175.20,
12,San Patricio,US,78.80,few clouds,28.02,-97.52,
21,Adrar,MR,84.51,broken clouds,20.50,-10.07,
23,Hervey Bay,AU,82.99,clear sky,-25.30,152.85,
24,Kapaa,US,82.40,few clouds,22.08,-159.32,
25,Cabanas,CU,78.80,broken clouds,22.98,-82.92,
27,Butaritari,KI,82.31,broken clouds,3.07,172.79,
34,Taoudenni,ML,77.92,scattered clouds,22.68,-3.98,

In [61]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"

    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        clean_hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    #except Exception as ex: 
        #print(ex)
    except (IndexError):
        print("Hotel not found... skipping.")
clean_hotel_df.head(10)

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Marigot,MF,80.60,broken clouds,18.07,-63.08,Royal Palm Beach Resort
5,Byron Bay,AU,75.00,scattered clouds,-28.65,153.62,Backpackers Inn on the Beach
7,Vaini,TO,80.60,few clouds,-21.20,-175.20,Keleti Beach Resort
12,San Patricio,US,78.80,few clouds,28.02,-97.52,"Motel 6 Sinton, TX"
21,Adrar,MR,84.51,broken clouds,20.50,-10.07,
23,Hervey Bay,AU,82.99,clear sky,-25.30,152.85,Shelly Bay Resort
24,Kapaa,US,82.40,few clouds,22.08,-159.32,Sheraton Kauai Resort at Coconut Beach
25,Cabanas,CU,78.80,broken clouds,22.98,-82.92,Villa Luis Montesino y Anabel
27,Butaritari,KI,82.31,broken clouds,3.07,172.79,Isles Sunset Lodge
34,Taoudenni,ML,77.92,scattered clouds,22.68,-3.98,

In [63]:
# 7. Drop the rows where there is no Hotel Name.
#boolean masking
clean_hotel_df = clean_hotel_df[clean_hotel_df["Hotel Name"] != ""]
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Marigot,MF,80.60,broken clouds,18.07,-63.08,Royal Palm Beach Resort
5,Byron Bay,AU,75.00,scattered clouds,-28.65,153.62,Backpackers Inn on the Beach
7,Vaini,TO,80.60,few clouds,-21.20,-175.20,Keleti Beach Resort
12,San Patricio,US,78.80,few clouds,28.02,-97.52,"Motel 6 Sinton, TX"
23,Hervey Bay,AU,82.99,clear sky,-25.30,152.85,Shelly Bay Resort
24,Kapaa,US,82.40,few clouds,22.08,-159.32,Sheraton Kauai Resort at Coconut Beach
25,Cabanas,CU,78.80,broken clouds,22.98,-82.92,Villa Luis Montesino y Anabel
27,Butaritari,KI,82.31,broken clouds,3.07,172.79,Isles Sunset Lodge
38,Saint George,US,80.60,clear sky,37.10,-113.58,Best Western Plus Abbey Inn
43,Harlingen,US,78.80,clear sky,26.19,-97.70,Courtyard by Marriott Harlingen

In [69]:
# 8a. Create the output File (CSV)
output_data_file = "../Vacation_Search/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [70]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [71]:
# 11a. Add a marker layer for each city to the map. 
locations = clean_hotel_df[["Lat", "Lng"]]
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))